<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
</head>

<body>
    <div>
        <nav>
            <ul style="display: flex;">
                <li style="padding-right: 30px; list-style: none;"><a href="/">Shop</a></li>
                <li style="list-style: none; list-style: none;"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </div>

    <main>
        <h1>My Products</h1>
        <p>List of all the products...</p>
    </main>
</body>

</html>